# DB envs
#DB_NAME=PSQL
DB_NAME=ORACLE

DB_USER=C5KI
DB_PASSWORD=nNe#1Eqaiv

DB_HOST=bdc5kit.petrobras.com.br
ORACLE_DB_SERVICE=c5kit.petrobras.com.br
PSQL_DB_SERVICE=ml-task-manager
ORACLE_DB_PORT=1521
PSQL_DB_PORT=5432
DB_DSN = bdc5kit.petrobras.com.br:1521/c5kit.petrobras.com.br

# atena02 envs
ATENA_USER=your_user_here_
ATENA_PASSWD=your_passwd_here

DEBUG=1
